@import './../../style.scss';

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.contact-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 2% auto;
    border-top: 1px solid $colorCappucino;
    padding-top: 2%;
    @media(max-width: 670px) {
        flex-wrap: wrap;
    }
    .img-wrapper {
        max-width: 45%;
        margin-top: 2%;
        @media(max-width: 670px) {
            margin-left: 2%;
            max-width: 90%;
        }
        img {
            max-width: 100%;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }
    .form-wrapper {
        width: 45%;
        @media(max-width: 670px) {
            width: 90%;
        }
        h1 {
            text-align: center;
            font-weight: 400;
            font-style: normal;
            font-size: 34px;
            letter-spacing: .075em;
            line-height: 1.2em;
            text-transform: capitalize;

        }
        label {
            display: block;
            margin-left: 2%;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: normal;
        }
        input, textarea {
            width: 100%;
            display: block;
            width: 100%;
            padding: 12px;
            margin: 6px 0 4px;
            border: 1px solid #ccc;
            background: #fafafa;
            color: #000;
            font-size: 16px;
            line-height: normal;
            box-sizing: border-box;
            border-radius: 2px;
        }
        textarea {
            min-height: 100px;
            resize: vertical;
        }
        button {
            margin-left: 2%;
        }
    }
}