.navContainer {
    .logoContainer {
        text-align: center;
        margin: auto;
        width: auto;
        .logo {
            height: 25%;
            width: 25%;
            @media screen and (max-width: 600px) {
                height: 50%;
                width: 50%;
            }
        }
    }
    .navbar {
        display: flex;
        overflow: hidden;
        background-color: #fff;
        justify-content: center;
        a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            &:hover {
                color: #BAADAB;
            }
        }
        .icon {
            display: none;
        }
        @media screen and (max-width: 600px) {
            justify-content: space-between;
            a:not(:first-child) {
                display: none;
            }
            a.icon {
                float: right;
                display: block;
            }
        }
    }
    .responsive {
        @media screen and (max-width: 600px) {
            position: relative;
            justify-content: flex-start;
            flex-direction: column;
            .icon {
                position: absolute;
                right: 0;
                top: 0;
                }
            a {
                float: none;
                display: block !important;
                text-align: left;
            }
        }
    }
}
