.navContainer {
    .logoContainer {
        text-align: center;
        margin: auto;
        width: auto;
        .logo {
            height: 25%;
            width: 25%;
            @media (max-width: 600px) {
                height: 50%;
                width: 50%;
            }
        }
    }
    .navbar {
        display: flex;
        overflow: hidden;
        background-color: #fff;
        justify-content: center;
        transition: all 1s linear;
        a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            &:hover {
                color: #BAADAB;
            }
        }
        .icon {
            display: none;
        }
        @media (max-width: 600px) {
            justify-content: flex-start;
            position: relative;
            flex-direction: column;
            height: 3em;
            transition: height 0.2s linear;
            a {
                float: none;
                text-align: left;
            }
            a.icon {
                position: absolute;
                display: block !important;
                right: 0;
                top: 0;
            }
        }
    }
    .responsive {
        @media (max-width: 600px) {
            height: 12em;
        }
    }
}
