@import './../../style.scss';

.parallax-imag{
    background-color: rgba(216,208,207,0.7);
    height: 110vh;
    font-family: $fontBasic;
    .inside-txt {
        color: white;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h1 {
            margin: .67em 0;
            font-weight: 400;
            font-style: normal;
            font-size: 35px;
            letter-spacing: .075em;
            line-height: 1.2em;
            text-transform: capitalize;
        }
        h2 {
            font-weight: 400;
            font-style: italic;
            font-size: 25px;
            letter-spacing: .05em;
            line-height: 1.4em;
            text-transform: none;
            padding-bottom: 3em;
        }
    }
}
.first-middle-section {
    background-color: #D6CECD;
    color: white;
    min-height: 150vh;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    h1 {
        text-align: center;
        margin: .67em 0;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        letter-spacing: .075em;
        line-height: 1.2em;
    }
    h2 {
        text-align: center;
        font-weight: 400;
        font-style: italic;
        font-size: 25px;
        letter-spacing: .05em;
        line-height: 1.4em;
        text-transform: none;
        padding-top: 0.5em;
    }
    p {
        padding: 1.5em;
        text-align: center;
    }
}
.second-middle-section {
    background-color: white;
    color: black;
    min-height: 60vh;
    text-align: center;
    h1 {
        margin: .67em 0;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        letter-spacing: .075em;
        line-height: 1.2em;
    }
    h2 {
        font-weight: 400;
        font-style: italic;
        font-size: 25px;
        letter-spacing: .05em;
        line-height: 1.4em;
        text-transform: none;
        padding-top: .5em;
    }
    p {
        padding: 1em;
    }
    button {
        margin-top: 2em;
    }
}