@import './../../style.scss';

.parallax-img{
    background-color: rgba(216,208,207,0.7);
    height: 150vh;
    font-family: $fontBasic;
    .inside {
        width: 60%;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);   
        @media(max-width: 595px){
            width: 85%;
        }     
        img {
            width: 65%;
            @media(max-width: 595px){
                width: 100%;
            }
        }
        .text {
            width: 35%;
            background-color: #D6CECD;
            position: absolute;
            padding: 30px;
            top: 10%;
            left: 55%;
            z-index: 1;
            @media (max-width: 595px) {
                margin-top: 10%;
                position: relative;
                padding: 0;
                width: 100%;
                top: 0;
                left: 0;
            }
            p {
                margin: 0;
                font-size: 26px;
                color: white;
                @media (max-width: 1130px) {
                    font-size: 18px;
                }
                @media (max-width: 836px) {
                    font-size: 12px;
                }
                @media(max-width: 595px){
                    font-size: 17px;
                }
            }
        }
    }
    .inside-txt {
        color: white;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h1 {
            margin: .67em 0;
            font-weight: 400;
            font-style: normal;
            font-size: 35px;
            letter-spacing: .075em;
            line-height: 1.2em;
            text-transform: capitalize;
        }
        h2 {
            font-weight: 400;
            font-style: italic;
            font-size: 25px;
            letter-spacing: .05em;
            line-height: 1.4em;
            text-transform: none;
            padding-bottom: 3em;
        }
    }
}
.middle-section {
    background-color: #D6CECD;
    min-height: 150vh;
    padding-top: 15vh;
    .middle-section-content {
        width: 80%;
        margin: 0 auto;
        @media(max-width: 836px) {
            width: 100%;
        }
        h1 {
            margin-top: 0;
            padding-top: 3%;
            text-align: center;
        }
        .images {
            padding-top: 15vh;
            display: flex;
            justify-content: space-around;
            @media(max-width: 836px) {
                flex-wrap: wrap;
            }
            img {
                height: 500px;
            } 
            figcaption {
                padding-top: 8vh;
                text-align: center;
                padding-bottom: 8vh;
            }
        }
    }
}