@import './../../style.scss';

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.main-container {
    width: 90%;
    margin: auto;
    .h1-container {
        border-top: 1px solid #D6CECD;
        border-bottom: 1.5px solid #D6CECD;
        h1 {
            text-align: center;
            font-family: $fontBasic;
            font-size: 30px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: .075em;
            line-height: 1.2em;
            text-transform: capitalize;
        }
    }
    .content-container {
        margin-top: 3%;
        display: flex;
        justify-content: space-around;
        @media(max-width: 670px) {
            flex-wrap: wrap;
        }
        img {
            max-width: 70vh;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            @media(max-width: 927px) {
                max-width: 50vh;
            }
        }
        .content-p {
            flex-direction: column;
            padding: 17px;
            p {
                font-family: $fontBasic;
                font-size: 18px;
                white-space: pre-wrap;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0.05em;
                line-height: 1.5em;
                text-transform: none;
                float: right;
                max-width: 50vh;
                padding-bottom: 13%;
                border-bottom: 1px solid #D6CECD;
            }
        }
    }
}