@import './../../style.scss';

.parallax-img{
    background-color: rgba(216,208,207,0.7);
    height: 150vh;
    font-family: $fontBasic;
    .inside-txt {
        color: white;
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        h1 {
            margin: .67em 0;
            font-weight: 400;
            font-style: normal;
            font-size: 35px;
            letter-spacing: .075em;
            line-height: 1.2em;
            text-transform: capitalize;
        }
        h2 {
            font-weight: 400;
            font-style: italic;
            font-size: 25px;
            letter-spacing: .05em;
            line-height: 1.4em;
            text-transform: none;
            padding-bottom: 3em;
        }
    }
}