.show {
    display: block;
}
.hide {
    display: none;
}
.modal {
    width: 500px;
    position: fixed;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    transform: translateY(100%);
    transition: transform 0.2s ease;
    box-shadow: 0 2px 8px 3px;
    z-index: 2;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000003a;
    transition: opacity 0.2s ease;
    z-index: 1;
}